
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f6f6;

}
.fondo{
    background: linear-gradient(to bottom, #DFF0D8, #C1E1C5);
    /* Otros estilos si es necesario */
    color: #333; /* Ajusta el color del texto según sea necesario */
    min-height: 100vh; /* Asegura que el degradado cubra al menos toda la altura de la pantalla */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  

  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  margin-top: 20px;
}

.nuevaTarea{
  font-size: small;
}

.titulo{
  margin-bottom: 15px;
  margin-left: 8px;
  font-weight: bold;
  }
.nuevaTarea{
  margin-left: 5px;
  margin-right: 5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.listTask {
  font-size: medium;
  text-decoration:underline;
  color: #070707;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.footer {
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;
  padding: 10px;
  background-color: rgb(94, 197, 94);
  bottom: 0;
  width: 100%;
  text-decoration: double;
  color: #faf4f4;
  border-radius: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: 2px solid rgb(162, 236, 155); 
  font-weight: bold;
}

